
.EmojisItemStyle {
    /*font-size: 20px; useless since it is now a setting*/
    font-family: EmojiOne Color, Twitter Color Emoji, Noto Color Emoji;
    padding: 0px 2px;
}

.EmojisItemStyle:hover {
	font-weight: bold;
}

.RecentItemStyle {
    font-size: 28px;
    font-family: EmojiOne Color, Twitter Color Emoji, Noto Color Emoji;
    padding: 0px 2px;
}

.RecentItemStyle:hover {
	font-weight: bold;
    padding: 0px 1px;
}

