
.EmojisItemStyle {
    font-family: EmojiOne Color, Twitter Color Emoji, Noto Emoji;
    padding: 1px 3px;
    color: #FFFFFF;
}

.EmojisItemStyle:hover {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 6px;
}

.RecentItemStyle {
    font-size: 32px;
    font-family: EmojiOne Color, Twitter Color Emoji, Noto Emoji;
    padding: 1px 3px;
    color: #FFFFFF;
}

.RecentItemStyle:hover {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 6px;
}

