
.EmojisItemStyle {
    font-size: 20px;
    font-family: EmojiOne Color, Twitter Color Emoji, Noto Color Emoji;
    padding: 0px 2px;
}

.EmojisItemStyle:active {
	font-weight: bold;
}

.EmojisItemStyle:hover {
	font-weight: bold;
}
